head {
    color: Blue
    font-family: "Comic Sans MS", cursive, sans-serif
    text-align: center;
}

body {
    color: Red
    font-family: "Comic Sans MS", cursive, sans-serif
    text-align: center;
}
