html {
    background: grey;
    background-image: url('http://i.imgur.com/N6oqDu8.jpg');
}

h2 {
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid #000;
}

p {
    border: 1px dashed;
    margin: 2px;
    text-align: center;
    padding: 10px;
}
