h1, img {
    text-align: center;
    display: inline-block;
}

.crop img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: right;
}

.intro {
    border: 1px dashed;
    margin: 2px;
    text-align: center;
    padding: 20px;
}

html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
}

strong {
    padding: 30px;
    text-align: center;
}


.thumbnail {
        float:left;
        display:block;
        position:relative;
}

.texto{
    margin-top:-10px;
    padding: 20px;
    float:right;
}

.bbread {
    float: center;
}
